*{
  text-align: center;
}
input,button{
  padding: 5px;
  border-radius: 5px;
  width: 90%;
}
button{
  background-color: black;
  color: white;
}
#form{
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
}
h1{
  margin-top: -10px;
}