#card {
  /* border: 1px solid; */
  width: 200px;
  border-radius: 10px;
  padding: 20px;
  /* background-color: rgba(255, 255, 255, 0.226); */
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.226);
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
